@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap");
@import url("https://fonts.cdnfonts.com/css/post-no-bills-colombo");

@import "tailwindcss";

body {
  font-family: "Outfit";
}

.font-post-no-bills-colombo {
  font-family: "Post No Bills Colombo", sans-serif;
}

/* .font-outfit {
  font-family: "Outfit", sans-serif;
} */

.font-prata {
  font-family: "Prata", serif;
}
